.info {
  padding: 84px 31px;
}

.info__text {
  margin-top: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;

  color: $secondary-dark-colour;
}

.info__texts-list > li {
  &:last-child > .info__text {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.86;
  }
}
