.button--dark {
  padding: 12px 37px;

  text-align: center;

  border: 1px solid $accent-colour;
  box-sizing: border-box;
  border-radius: 25px;

  & > a {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $primary-dark-colour;
  }

  &:hover > a,
  &:focus > a {
    color: $primary-light-colour;
  }

  &:hover,
  &:focus {
    background-color: $accent-colour;
  }
}
